<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S9:Start:true##S50:GW2:true##S20:Car Needs Transfer/Withdraw (WFDecision 1):true##S41:Send One Step Back:true##S22:Car Needs Transfer/Withdraw?:true##S88:Reject or SendBack:true##S65:GW:true##S10:Enrich Data:true##S46:GW3:true##S24:Call Activity for WF3:true##S57:Update Request Status:true##S34:Car Withdraw?:true##S56:End:true##S26:Is Approved:true##S15:Call Activity for WF1:true##S14:GW1:true##S36:Call Activity for WF2:true##S28:Car Withdraw (WFDecision 2):true##S38:Is Approved:true##S19:Is Approved:true##"/>
</businessProcessConfig>
