<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="true" stepsEnabledForResubmitInTarget="S82:GW4:true##S40:Photo Change:true##S61:Gateway2 check approval:true##S86:GW2:true##S42:Call Activity for Security Department (WF9):true##S44:End:true##S21:Call Activity for Direct Manager (WF3):true##S67:Gateway3 check approval:true##S23:Special or Administrative (WFDecision 2):true##S45:Update Request Status:true##S25:Location Type:true##S47:Post Approval Steps:true##S28:Special Site Type (WFDecision 3):true##S109:Start:true##S90:GW1:true##S94:GW3:true##S30:Special Type:true##S52:Gateway2 check approval:true##S33:Call Activity for Net Op Manager (WF8):true##S98:GW5:true##S10:Enrich Data:true##S32:Call Activity for Data Center Manager (WF7):true##S12:Check Requester:true##S14:Call Activity for Requester (WF0):true##S36:PhotoChange (WFDecision 4):true##S16:Staff or ManPower (WFDecision 1):true##S112:Call Activity for Special Admin (WF6):true##S19:Employee Type:true##"/>
</businessProcessConfig>
